{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["react", "import", "prettier"],
    "extends": ["airbnb", "plugin:prettier/recommended", "plugin:jsx-a11y/recommended"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "max-len": ["error", { "code": 100 }],
        "prefer-promise-reject-errors": ["off"],
        "react/jsx-filename-extension": ["off"],
        "react/prop-types": ["warn"],
        "no-return-assign": ["off"],
        "react/jsx-indent": ["off"]
    }
}
