@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

$background_main: #101014;
$background_info: #f7e2e6;
$header_color: #fff9fc;
$hover_color: #ffe2e7;
$font_main_color: #0c013a;
$font_main: 'Open Sans', sans-serif;
$font_header: 'Poppins', sans-serif;
$font_name: 'Sacramento', serif;
