@import './utilities/variables';

.container {
    flex-direction: column;
    position: relative;
}

.landing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: baseline;
    position: absolute;
    width: 100%;

    &_name {
        font-weight: 400;
        padding: 1% 1% 1% 2%;
        font-size: 2.7em;
        font-family: $font_name;
        width: 13%;
        height: 0% &_link {
            text-decoration: none;
            color: $header_color;
        }
    }

    &_nav {
        padding: 1% 2% 1% 1%;
        font-size: 1.2em;
        font-family: $font_header;
        width: 45%;

        &_links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_current {
                text-decoration: none;
                color: $header_color;
                transition: 0.3s;

                &:hover {
                    border-bottom: 0.2em solid $hover_color;
                }
            }
        }
    }
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 1%;
    transition: 0.3s;
}

.content {
    display: flex;
    flex-direction: column;
}
