@import '../utilities/variables';

@media only screen and (max-width: 750px) {
    body {
        background-color: lightblue;
    }
}

.home {
    background-color: $background_main;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: relative;
}

.tree_svg {
    width: 100%;
    height: 100vh;
}

.nextButton {
    position: relative;
    bottom: 5em;
    display: block;
    z-index: 99;
    width: 100%;

    &_svg {
        margin: auto;
        display: flex;
        transition: 0.3s;
        border: none;
        background: none;

        &:hover {
            background: #6d6e6e4d;
            border-radius: 4em;
            bottom: 1.2em;
            padding: 0.1em 0.6em;
            cursor: pointer;
        }
    }
}
