@import '../utilities/variables';

.home {
    background-color: $background_main;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: relative;
}

.tree_svg {
    width: 100vw;
    height: 100vh;
}

.nextButton {
    position: relative;
    bottom: 5em;
    display: block;
    z-index: 99;
    width: 100%;

    &_svg {
        margin: auto;
        display: block;
        transition: 0.3s;

        &:hover {
            background: #6d6e6e4d;
            border-radius: 4em;
            bottom: 1em;
            padding: 0.5em 1.5em;
            cursor: pointer;
        }
    }
}
